
@font-face {
    font-family: DottedCharlie;
    src: url("../fonts/charlie_dotted.ttf");
}

@font-face {
    font-family: EHSMB;
    src: url("../fonts/EHSMB.TTF");
}

*
{
	box-sizing:border-box;
}

a
{
	color:black;
}

html
{
	body
	{
		padding:0;
		margin:0;
		background-color:rgb(166,208,237);

		#content
		{
			max-width:1024px;
			width:100%;
			height:auto;
			margin:0 auto;
			padding:0 10px;

			#Titulo
			{
				text-align:center;
				height:100px;
				width:100%;
				font-size:60px;
				padding-top:20px;

				#T1
				{
					font-family:DottedCharlie;
				}

				#T2
				{
					font-family:EHSMB;

				}

			}

			#Menu
			{
				.Tab
				{
					width:50%;
					padding-top:10px;
					height:40px;
					float:left;
					background-color:white;
					text-align:center;
					border:solid thin white;
					cursor:pointer;
				}

				.selected
				{
					background-color:gray;
				}
			}

			#pttopx
			{

				.Form
				{
					width:100%;
					border-radius:10px;
					height:50px;
					border:solid thin;
					padding:10px;
					font-size:20px;
					margin:10px 0 0 0;
				}

				.ButtonConvert
				{
					width:100%;
					height:50px;
					border:solid thin;

					background-color:blue;
					color:white;
					border-radius:10px;
					font-size:20px;
					margin:10px 0 0 0;
					cursor:pointer;
				}

				#ResultadoPx
				{
					width:100%;
					height:50px;
					border-radius:10px;
					font-size:20px;
					margin:10px 0 0 0;
					border: dashed;
					border-width:1px;
				}
			}

			#pxtopt
			{
				display:none;

				.Form
				{
					width:100%;
					border-radius:10px;
					height:50px;
					border:solid thin;
					padding:10px;
					font-size:20px;
					margin:10px 0 0 0;
				}

				.ButtonConvert
				{
					width:100%;
					height:50px;
					border:solid thin;

					background-color:blue;
					color:white;
					border-radius:10px;
					font-size:20px;
					margin:10px 0 0 0;
					cursor:pointer;
				}

				#ResultadoPt
				{
					width:100%;
					height:50px;
					border-radius:10px;
					font-size:20px;
					margin:10px 0 0 0;
					border: dashed;
					border-width:1px;
				}
			}

			#FormulaActive
			{
				color:blue;
				cursor:pointer;
			}


			#FormulaContent
			{
				width:100%;
				height:0;
				overflow:hidden;
				transition: 1s;
				border:solid thin;
				border-width:0px;
				padding:0px;
			}



		}

		#Credits
		{
			position:fixed;
			bottom:0;
			width:100%;
			padding:10px;
			font-size:12px;
		}
	}
}